* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Mulish', sans-serif;
}
.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 216px;
}
.loading-title{
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.333333;
    font-weight: 400;
    color: #151b26;
    text-align: center;
    animation-name: flicker;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.progress-bar{
    position: relative;
    background-color: #E5EAEF;
    width: 300px;
    height: 12px;
    border-radius: 100px;
    overflow: hidden;
}

.progress-bar-gauge{
    position: absolute;
    width: 0;
    height: 12px;
    background-color: #13CE66;
    top: 0;
    left: 0;
    border-radius: 100px;
    animation-name: gauge;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

}

@keyframes flicker{
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes gauge{
    0%{
        width: 0;
        opacity: 1;
    }
    90%{
        width: 100%px;
        opacity: 1;
    }
    100%{
        width: 100%;
        opacity: 0;

    }
}